<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>realBase</title>
    <link rel="stylesheet" href = "css/tables.css">
    <link rel = "icon" href = "images/logo.png" type = "images/png">
</head>
<body>
    {{!-- <div class = "imageBox"> 
    <img src = "images/create.png" alt = "creating">
    </div> --}}
    <h1> Your database </h1>
    
<table>
    <tr class = "fixed">
        <td colspan="2"></td> 
    </tr>
    <tr>
        <td>    
            <button onclick="createTable()"> + create table </button>
        </td>
    </tr>
    
</table>

<script>

function createTable() {
    create table 
}
</script>

</body>
</html>
