<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>realBase</title>
    <link rel="stylesheet" href = "css/tables.css">
    <link rel = "icon" href = "images/logo.png" type = "images/png">
</head>
<body>
    {{!-- <div class = "imageBox"> 
    <img src = "images/create.png" alt = "creating">
    </div> --}}
    <h1>  </h1>

    <button onclick= "createDid()"> + add your project </button>
{{!-- <table>
    <tr class = "fixed">
        <td colspan="2"></td> 
    </tr>
    <tr>
        <td>    
            <button onclick="createTable()"> + create table </button>
        </td>
    </tr>
    
</table> --}}

<script>

    function createDid() {
        let Did = 1;
        while (true) {
            yield Did++;
        }
    }
    const Did = createDid()
    console.log(Did);
</script>

</body>
</html>
