body {

  background-color: #9098a7;
  margin-top: 80px;
  padding-left: 500px;
  padding-right: 500px;

  }
/*   
  .container {
    max-width: 50px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  } */

  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  button {
    background-color: #22495c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 85%;
  }
  
  button:hover {
    background-color: #032f3a;
  }
  